.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 2rem;

    a {
      font-family: $BP-thin;
      text-decoration: none;
      color: black;
        &:hover {
          border-bottom: 1px solid black;
        }
    }

    #contact {
      font-family: $BP-med;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar_titles {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
